body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: #EFEFF7;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0 0 0.8em 0;
  font-style: italic;
  color: #8F8F8F;
}

h4 {
  margin: 0;

}

p {
  margin: 0;
  line-height: 1.4em;
}

p + p {
  margin-top: 1em;
}

.inset {
  padding: 30px;
  margin: 30px;
  background: #FFFFFF;
}

a {
  color: #3D99B8;
}

.intro {
  float: left;
  width: 40%;
}

.links {
  float: left;
  width: 40%;
  margin-left: 20px;
}

.clearb {
  clear: both;
}
